@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ocultar la barra de desplazamiento para navegadores webkit */
::-webkit-scrollbar {
  display: none;
}

/* Ocultar la barra de desplazamiento para Firefox */
* {
  scrollbar-width: none; /* Firefox */
}

/* Ocultar la barra de desplazamiento para IE y Edge */
*::-ms-scrollbar {
  display: none; /* IE y Edge */
}
